*{
    padding: 0;
    margin: 0;
}

body{
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    background-color: #242424;
}

.container{
    max-width: 1024px;
    width: 1024px;
    margin: 0 auto;
    padding: 15px;
}

.header__section{
    width: 100vw;
    height: 40vh;
    background-image: url(images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.header__section header{
    width: 15rem;
    height: 15rem;
    overflow: hidden;
    border-radius: 50%;
    position: absolute;
    bottom: -1rem;
}


.header__section header img{
    width: 100%;
    transition: all 0.5s ease-in;
    filter: grayscale(100%);
}

.header__section:hover  header img{
    filter: grayscale(0%);
    transform: scale(1.1);
}

.name{
    padding: 1rem 0;
}

.name h1{
    font-size: 2.54rem;
    color: #fff;
}

.links__section{
    display: block;
    padding: 1rem 0 4rem;
}
.links__section ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 1px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
    
    
}


.links__section ul li a{
    text-decoration: none;
    background-color: #080808;
    box-shadow: 1px 1px 6px rgb(39, 39, 39);
    padding: 2rem 1rem;
    margin-right: 0.5rem;
    border-radius: 4px;
    color:#fff;
    transition: all 0.5s ease-in;
    display: block;
    text-align: center;
    width: 100%;

}

.links__section ul li a span{
    display: block;
    font-size: 1.5rem;
    width: 100%;
    color: #fff;
}

.links__section ul li a:hover{
    color: #ccccccc2;
}

.footer__section{
    background-color: #010101;
    color: #f1f1f1;
    padding: 2rem 0;
}

.validate{
    padding: 1rem 0;
    display: block;
}
